body {
    background-color: #e4f9f5;
}
hr {
    border: 5px solid #fae3d9;
}
table {
    background-color: #ffb6b9;
    border: #ffb6b9 5px solid ;
}

th,td {
    border: #52616b 3px solid;
}
.heading-top {
    color:#40514e;
    font-size: 40px;  
} 
.heading-middle {
    color: #40514e;
    font-size: 30px;
}
.italics {
    font-size: italic;
}
.par {
    color: #52616b;
    font-size: 18px;
}